/* ==UserStyle==
@name           dim milk
@namespace      github.com/milkembers/dim-milk
@homepageURL    https://github.com/milkembers/dim-milk
@version        1.2.13
@description    a soft theme for Destiny Item Manager
@author         milk
@updateURL      https://milkembers.github.io/dim-milk/dim-milk.user.css
@preprocessor   stylus
==/UserStyle== */
@-moz-document regexp("https://(app|beta).destinyitemmanager.com/.*$") {
    @import url('https://fonts.googleapis.com/css2?family=Google+Sans&display=swap');

    :root {
        --theme-accent-primary: #c88caa;
        --theme-accent-secondary: #f9e2af;
        --theme-fill-modal: var(--bg-2);
        --theme-fill-modal-actions: var(--bg-1);
        --theme-text: #cdd6f4;
        --theme-text-invert: var(--theme-text);
        --theme-text-secondary: #9399b2;
        --theme-text-tertiary: #5c5c5c;
        --theme-button-bg: #ffffff1a;
        --theme-button-text: var(--theme-text);
        --theme-input-bg: var(--bg-5);
        --theme-drop-shadow: 0 0 18px 0 var(--bg-black);
        --theme-tooltip-underline: var(--bg-clear);
        --theme-tooltip-header-bg: var(--bg-black);
        --theme-tooltip-body-bg: var(--bg-1);
        --theme-tooltip-border: var(--theme-fill-modal);
        --theme-tooltip-minimal-bg: var(--theme-fill-modal);
        --theme-app-bg-gradient-start: var(--bg-black);
        --theme-app-bg-gradient-end: var(--bg-black);
        --theme-app-bg-gradient: radial-gradient(circle at 50% 70px, var(--theme-app-bg-gradient-start) 0%, var(--theme-app-bg-gradient-end) 100%);
        --theme-app-bg: var(--theme-app-bg-gradient);
        --theme-pwa-background: var(--bg-black);
        --theme-mobile-background: var(--bg-black);
        --theme-header-nav-bg: var(--theme-app-bg-gradient);
        --theme-header-nav-slideout-menu-bg: var(--theme-fill-modal);
        --theme-header-characters-bg: var(--theme-app-bg-gradient);
        --theme-header-characters-txt: var(--theme-text);
        --theme-dropdown-menu-bg: var(--theme-fill-modal);
        --theme-search-bg: var(--bg-3);
        --theme-search-dropdown-bg: var(--theme-fill-modal-actions);
        --theme-search-dropdown-border: var(--bg-clear);
        --theme-item-polaroid: var(--bg-4);
        --theme-item-polaroid-txt: var(--theme-text-invert);
        --theme-item-polaroid-hover-border: var(--theme-text);
        --theme-item-polaroid-masterwork: #745700;
        --theme-item-polaroid-masterwork-txt: var(--theme-text);
        --theme-item-polaroid-capped: var(--theme-item-polaroid-masterwork);
        --theme-item-polaroid-capped-txt: var(--theme-text);
        --theme-item-polaroid-godroll: var(--theme-accent-primary);
        --theme-item-polaroid-trashroll: var(--theme-text);
        --theme-item-polaroid-element-adjust-brightness: 70%;
        --theme-item-socket-border: var(--theme-text-secondary);
        --theme-item-shaped-icon: #d25336;
        --theme-item-popup-border: var(--bg-2);
        --theme-item-popup-arrow: var(--theme-fill-modal-actions);
        --theme-item-popup-actions-bg: var(--theme-fill-modal-actions);
        --theme-item-popup-panel-bg: var(--bg-5);
        --theme-item-popup-progress-bar-bg: var(--bg-4);
        --theme-item-feed-bg: var(--theme-fill-modal);
        --theme-item-sheet-bg: var(--theme-fill-modal);
        --theme-sheet-search-bg: var(--bg-5);
        --theme-organizer-row-odd-bg: var(--bg-4);
        --theme-organizer-row-even-bg: var(--bg-black);
        --theme-record-redeemed: #c4b578;
        --bg-black: #000;
        --bg-1: #000c;
        --bg-2: #0009;
        --bg-3: #0006;
        --bg-4: #151516;
        --bg-5: #222224;
        --bg-clear: #0000;
    }

    body {
        color: #cdd6f4
    }
    
    /* CharacterTile-m_class- */
    [class*="wq_5uy0G"] {
        padding-top: 3px
    }

    /* CharacterTile-m_vaultName- */
    [class*="dDf1cJt"] {
        font-size: 18px
    }

    /* FractionalPowerLevel-m_fractionalPowerLevel- */
    [class*="jyIFBj6M"] {
        font-size: 16px
    }

    /* CharacterTile-m_characterTile- CharacterTile-m_powerLevel- */
    [class*="LSTun4TU"] [class*="ocVP7y8z"] {
        margin-top: 0px;
        position: absolute;
        top: 50%;
        right: 50%;
    }

    /* CharacterTile-m_powerLevel- */
    [class*="ocVP7y8z"] {
        color: var(--theme-accent-secondary)
    }

    /* Header-m_dropdown- */
    [class*="b93uQxn8"] hr {
        border-top: 1px solid var(--bg-black)
    }

    /* ItemPerksList-m_socket- */
    [class*="YUnWXHkm"] {
        border-bottom: 1px solid var(--bg-5)
    }

    /* ItemPopup-m_desktopPopupBody- */
    [class*="gi12X5mX"] {
        z-index: 1
    }

    #downshift-_r_1_-input::placeholder {
        color: var(--theme-text-tertiary)
    }

    /* Armory-m_header- */
    [class*="wYPsYK5B"] h1,
    /* ItemFeed-m_title */
    [class*="WfzygZGT"],
    /* ItemPopupHeader-m_title */
    [class*="K5Dg82cy"],
    /* Login-m_billboard */
    [class*="CQh4wkJp h1"],
    /* PressTip-m_tooltip- PressTip-m_header- */
    [class*="SHtI4cRc"] [class*="w1l90OtE"] h2,
    /* VendorsMenu-m_vendorMenuItem- */
    [class*="dcCRLdS_"],
    /* Sheet-m_header- */
    [class*="gBErkX0T"] :where(h1),
    .milestone-quest .milestone-name {
        font-family: 'Google Sans', sans-serif, 'Destiny Symbols', 'DIM Symbols' !important;
        text-transform: uppercase !important
    }

    /* Account-m_account- */
    [class*="q6B5PKn0"],
    /* ActionButtons-m_label- */
    [class*="US8Iulse"],
    /* CharacterTile-m_characterTile- */
    [class*="LSTun4TU"],
    /* CharacterTile-m_vaultName- */
    [class*="dDf1cJt"],
    /* CharacterTile-m_powerLevel- */
    [class*="ocVP7y8z"],
    /* FilterPills-m_pill- */
    [class*="WoF1LwzK"],
    /* ItemFeedSidebar-m_trayButton- */
    [class*="xg_cOqMC"],
    /* ItemMoveLocations-m_vaultLabel- */
    [class*="geqSoDNa"],
    /* ItemPopupHeader-m_subtitle- */
    [class*="I1AZaUn7"],
    /* Vendor-m_location- */
    [class*="Fcx2Os4V"],
    /* Loadouts-m_menu- */
    [class*="rpbuzrS3"] select,
    /* Loadouts-m_loadoutRow- LoadoutView-m_title- */
    [class*="FjniLgre"][data-index="0"] [class*="qblwiY0l"] h2,
    /* SymbolsPicker-m_wrapperDiv- */
    [class*="giHUNpEx"] input::placeholder,
    .Loadouts-m_menuLoadout-Xiwwux2e:first-of-type > span:not(.Loadouts-m_app-icon-hgEY9bwf),
    .dim-button,
    .item,
    .milestone-quest,
    .search-filter > input[type=text],
    body {
        font-family: 'Google Sans', sans-serif, 'Destiny Symbols', 'DIM Symbols' !important;
        text-transform: lowercase !important
    }

    /* Compare-m_spacer- */
    [class*="junOaW4v"],
    /* Compare-m_statList- */
    [class*="PyQcTgmw"],
    /* DesktopItemActions-m_interaction- */
    [class*="Ul_ZE389"],
    /* Header-m_container- */
    [class*="NwWdFamf"],
    /* Header-m_dropdown- */
    [class*="b93uQxn8"],
    /* LoadoutPopup-m_content- */
    [class*="abG4JQ5c"],
    /* PressTip-m_minimalTooltip- */
    [class*="SO6eEqfl"],
    /* PressTip-m_tooltip- */
    [class*="SHtI4cRc"],
    /* SearchBar-m_menu- */
    [class*="luun6aPQ"],
    /* Sheet-m_container- */
    [class*="KNQcuskl"],
    /* SymbolsPicker-m_symbolsSearch- */
    [class*="U4ZCIPLm"],
    /* SymbolsPicker-m_symbolsContainer- */
    [class*="vx1dq7Ib"],
    /* Sheet-m_header- SheetHorizontalScrollContainer-m_horizontalScrollContainer- */
    [class*="gBErkX0T"] [class*="FKlBGiuj"] .sheet .sheet-container,
    .loadout-menu,
    .store-row.store-header {
        background-color: var(--theme-item-popup-actions-bg);
        backdrop-filter: blur(4px)
    }
}